<div class="row col-12">
    <div class="not-found" *ngIf="loaded && tournamentList?.length === 0">
      <p>Não foram encontrados resultados.</p>
      <img src="assets/Bee_Sad_Emote.png" />
    </div>
    <div class="col-6" *ngFor="let tournament of tournamentList; let index = index;">
        <a [routerLink]="['/tournament/view', tournament.id]">
            <div class="card">
                <img src="{{ tournament.banner }}" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">{{ tournament.name }}</h5>
                    <p class="card-text">{{ tournament.qtdJogadores }} Jogadores</p>
                </div>
            </div>
        </a>
    </div>
</div>