<div class="row">
  <div class="col-12" style="overflow-y: auto;">
    <div class="card">
      <div class="card-header row card-header-primary">
        <div class="col-12">
          <h4> {{ this.tournament.name }} - Grupo {{ this.numeroGroup }}</h4>
        </div>
      </div>
      <div class="card-body" style="    overflow-y: auto; max-height: 42em;">
        <div class="row">
          <div class="col-12"
            *ngIf="data.groupStatus != 'PARTIDA_FINALIZADA' && data.groupStatus != 'PARTIDA_FINALIZADA_WO'">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4>Envio de Resultado</h4>
              </div>

              <div class="card-body">

                <div class="text-center">

                  <div class="row">
                    <div class="col-12">

                      <label style="margin-top: 5px;">Nick do primeiro lugar:</label>
                      <input class="form-control" type="text" [(ngModel)]="nick">

                      <button (click)="matchResult()" class="btn btn-success">
                        Enviar
                      </button>
                      <button (click)="wo()" class="btn btn-danger">
                        WO
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4>Jogadores</h4>
              </div>
              <div class="card-body row">
                <div class="mat-elevation-z1">
                  <table class="col-12" mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="Nome do Jogador">
                      <th mat-header-cell *matHeaderCellDef> Nick </th>
                      <!-- <td mat-cell *matCellDef="let element">nick teste</td> -->
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Colocação">
                      <th mat-header-cell *matHeaderCellDef> Colocação </th>
                      <td mat-cell *matCellDef="let element"> {{element.posicao}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Status">
                      <th mat-header-cell *matHeaderCellDef> Status </th>
                      <td mat-cell *matCellDef="let element">
                        <h4 *ngIf="element.status === null">
                          <mat-icon>pending</mat-icon> Em Partida
                        </h4>
                        <h4 *ngIf="element.status === 1">
                          <mat-icon>hourglass_top</mat-icon> Em Partida
                        </h4>
                        <h4 *ngIf="element.status === 2">
                          <mat-icon>cancel</mat-icon> Ausente
                        </h4>
                        <h4 *ngIf="element.status === 3">
                          <mat-icon>cancel</mat-icon> Desistiu
                        </h4>
                        <h4 *ngIf="element.status === 4">
                          <mat-icon>close</mat-icon> Eliminado
                        </h4>
                        <h4 *ngIf="element.status === 5">
                          <mat-icon>check_circle</mat-icon> Classificado
                        </h4>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Acoes">
                      <th mat-header-cell *matHeaderCellDef> Ações </th>
                      <td mat-cell *matCellDef="let element">
                        <button type="button" title="Jogador Ausente" *ngIf="element.status === null" mat-icon-button
                          (click)="setStatusAusente(element.id, element.groupId)">
                          <mat-icon>disabled_by_default</mat-icon>
                        </button>

                        <button type="button" title="Em Partida" *ngIf="element.status != null && element.status != 4 && element.status != 5" mat-icon-button
                          (click)="setStatusEmPartida(element.id, element.groupId)">
                          <mat-icon>pending</mat-icon>
                        </button>                     

                        <button type="button" title="Redefinir Colocação" *ngIf="element.status != null && element.status != 4 && element.status != 5" mat-icon-button
                          (click)="redefinirColocacao(element.id, element.groupId)">
                          <mat-icon>emoji_events</mat-icon>
                        </button>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>