<div class="row col-12">
  <div class="not-found">
    <ng-container *ngIf="loaded && matchList?.length === 0">
      <p>Não foram encontrados resultados.</p>
      <img src="assets/Bee_Sad_Emote.png" />
    </ng-container>
  </div>
  <div class="col-6" *ngFor="let match of this.matchList; let index = index;" style="cursor: pointer;"
    (click)="openPartida(match)">
    <div class="card">
      <div class="card-header">
        <img class="logo-img-img" src="{{ this.urlIcon }}" />
        <h4>{{ match.name }}</h4>
        <h4 *ngIf="match.posicao">Posição: {{ match.posicao }}</h4>
        <h4 *ngIf="!match.posicao">Este Campeonato ainda não começou</h4>
      </div>
      <div class="card-body">
        <p>{{ match.tournament }}</p>
        <p>{{ match.date }}</p>
      </div>
    </div>
  </div>
</div>