<div class="row">
  <div class="col-6" *ngFor="let match of this.matchList; let index = index;" style="cursor: pointer;"
    (click)="openPartida(match)">
    <div class="card">
      <div class="card-header">
        <img class="logo-img-img" src="{{ this.urlIcon }}" />
        <h4>{{ match.name }}</h4>
        <h4>Posição: {{ match.posicao }}</h4>
      </div>
      <div class="card-body">
        <p>{{ match.tournament }}</p>
        <p>{{ match.date }}</p>
      </div>
    </div>
  </div>
</div>