<h1 mat-dialog-title>Nova Organização</h1>
<div mat-dialog-content>
  <form [formGroup]="formulario">
    <div class="row">
      <div class="col-12">
        <mat-form-field class="full-width">
          <mat-label>Link do Ultimo campeonato cadastrado:</mat-label>
          <input required matInput formControlName="linkLastTournemant" />
          <mat-error *ngIf="formulario.get('linkLastTournemant').invalid">campo obrigatório</mat-error>
          <!-- <mat-error [control]="formulario.get('nomeOrganizacao')"></mat-error> -->
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="onSubmit()" type="submit">
    <mat-icon>save</mat-icon>
    Salvar
  </button>
</div>
