<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header row">
                <div class="col-6">
                    <img class="logo-img-img" src="{{ this.urlIcon }}" />
                    <h4> {{ this.player.displayName }}</h4>
                </div>
                <div class="col-6">
                    <h4> {{ this.match.tournament.name }}</h4>
                    <h4> {{ this.match.tournament.date }}</h4>
                </div>
            </div>
            <div class="card-body row">
                <div class="col-6">
                    <div class="mat-elevation-z1">
                        <table class="col-12" mat-table [dataSource]="dataSource">

                            <ng-container matColumnDef="Nome do Jogador">
                                <th mat-header-cell *matHeaderCellDef> Nick </th>
                                 <td mat-cell *matCellDef="let element">nick teste</td> 
                               <!-- <td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
                            </ng-container>

                            <ng-container matColumnDef="Colocação">
                                <th mat-header-cell *matHeaderCellDef> Colocação </th>
                                <td mat-cell *matCellDef="let element"> {{element.posicao}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
                <div class="col-6 row">
                    <div class="text-center" *ngIf="!match.groupTeams[0].posicao">
                        <input class="form-control" type="file" (change)="onChange($event)">

                        <button (click)="matchResult()" class="btn btn-success">
                            Upload
                        </button>
                    </div>

                    <div>
                        <h6>Print Resultado</h6>
                        <img src="{{this.base64String}}" width="300px" height="250px" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>