<app-content>
  <div class="row">
    <div class="col-12">
      <mat-tab-group>
        <mat-tab label="First">
          <ng-template matTabContent>
            Content 1 - Loaded: {{getTimeLoaded(1) | date:'medium'}}
          </ng-template>
        </mat-tab>
        <mat-tab label="Torneios">
          <ng-template matTabContent>
            <app-dash-tournament></app-dash-tournament>
          </ng-template>
        </mat-tab>
        <mat-tab label="Partidas">
          <ng-template matTabContent>
            <app-dash-match></app-dash-match>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</app-content>