<app-content>
  <div class="row">
    <div class="col-12">
      <mat-tab-group>
        <mat-tab label="Historico de Partidas">
          <ng-template matTabContent>
            <app-dash-history></app-dash-history>
          </ng-template>
        </mat-tab>
        <mat-tab label="Torneios Inscritos">
          <ng-template matTabContent>
            <app-dash-tournament></app-dash-tournament>
          </ng-template>
        </mat-tab>
        <mat-tab label="Partidas em Campeonatos">
          <ng-template matTabContent>
            <app-dash-match></app-dash-match>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</app-content>