<app-content>
  <div class="row mt-4" *ngIf="this.organization">
    <div class="col-md-4">
      <div class="card card-profile">
        <div class="card-avatar">
          <a href="#">
            <img class="img" src="{{ this.organization.logoUrl }}" />
          </a>
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ this.organization.name }}</h4>
          <p class="card-description" [innerHTML]="this.organization.shortDescription"></p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Administradores <button type="button" (click)="adicionarAdministrador()" mat-button
              class="btn btn-success pull-right">Adicionar</button></h4>

        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <table class="col-12" mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="Nick">
                  <th mat-header-cell *matHeaderCellDef> Nick </th>
                  <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
                </ng-container>

                <ng-container matColumnDef="Acoes">
                  <th mat-header-cell *matHeaderCellDef> Ações </th>
                  <td mat-cell *matCellDef="let element">
                    <button type="button" title="Remover" mat-icon-button (click)="removerAdmin(element.id)">
                      <mat-icon>close</mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Campeonatos <button type="button" (click)="novoCampeonato()" mat-button
              class="btn btn-success pull-right">Novo Campeonato</button></h4>

        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="mat-elevation-z1">
                <table class="col-12" mat-table [dataSource]="dataSourceTournament">

                  <ng-container matColumnDef="Nome">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Data">
                    <th mat-header-cell *matHeaderCellDef> Data </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                  </ng-container>

                  <ng-container matColumnDef="qtdPlayer">
                    <th mat-header-cell *matHeaderCellDef> Quantidade de Jogadores </th>
                    <td mat-cell *matCellDef="let element"> {{element.qtdJogadores}} </td>
                  </ng-container>

                  <ng-container matColumnDef="qtdPlayerTeam">
                    <th mat-header-cell *matHeaderCellDef> Por Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.qtdJogPorTime}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Acoes">
                    <th mat-header-cell *matHeaderCellDef> Ações </th>
                    <td mat-cell *matCellDef="let element">
                      <button type="button" (click)="detalhesTournament(element.id)" mat-button
                        class="btn btn-success">Detalhes</button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumnsTournament"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsTournament;"></tr>
                </table>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</app-content>