<app-content>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Times <button type="button" (click)="novoTime()" mat-button
                            class="btn btn-success pull-right">Adicionar</button></h4>

                </div>
                <div class="card-body">
                    <div class="row mt-4">
                        <div class="col-md-4" *ngFor="let team of this.teams">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <img class="img" src="{{ this.team.logo }}" />
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title mb-3">{{ this.team.name }}</h4>
                                    <button mat-stroked-button color="primary" type="submit">
                                        Ver Time
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</app-content>