<app-content>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Chaves: {{ this.tournament.name }}</h4>

        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel *ngFor="let item of this.stages;">
                  <mat-expansion-panel-header>
                    <mat-panel-description>
                      <h4>Chave: {{ item.name }}</h4>
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <app-stage [stage] = "item.id"></app-stage>
                
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <div class="col-md-12 d-flex justify-content-center mt-3">
              <button type="button" (click)="proximaFase()" mat-button class="btn btn-success">Gerar Próxima
                Fase</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-content>