<div class="row col-12">
    <!-- <div class="mdl-cell mdl-cell--12-col demo-list-item mdl-list">
          <div *ngIf="this.fullHistory?.length === 0" class="not-found">
            aaaaaaaaaaaa
            <img src="assets/Bee_Sad_Emote.png" />
          </div>
            <div *ngIf="this.fullHistory?.length > 0" class="p-2" id="listahistorico" class="mdl-grid" style="background-color: white;">
                <ul class="mdl-cell--12-col" *ngFor="let partida of this.fullHistory">
                    <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="margin-bottom: 10px !important;">
                        <div class="conteudo-partida mdl-grid mdl-cell--12-col">
                            <div class="build mdl-cell--4-col text-center">
                                <img *ngFor="let info of this.partida.participant.units" class="lol-item"
                                    src="assets/set5patch1115/champions/{{ info.character_id }}.png">
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div> -->
    <div class="not-found">
        <p>Não foram encontrados resultados.</p>
        <img src="assets/Bee_Sad_Emote.png" />
    </div>
</div>